.container {
    padding:0px 24px; 
    margin:0px 120px;
  }

  @media (max-width: 1020px) {
    .container {
      padding:0px 10px; 
      margin:0px 60px;
      }
  }

  @media (max-width: 668px) {
    .container {
        padding:0px 10px; 
        margin:0px 20px;
      }
  }

.closing-icon {
  font-size:1.5rem
}
.closing-icon:hover {
  font-size:2rem;
  transform:translate(0.25rem,-0.25rem)
}